@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.75px;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  background-color: #fc88b9;
  color: #615eec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 32px 60px;
  height: 10vh;
}
nav .nav__logo {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}
nav li {
  display: inline-block;
  list-style: none;
  font-weight: bolder;
  font-size: 36px;
  line-height: 54px;
  padding: 0 20px;
}
nav a {
  color: #615eec;
  text-decoration: none;
}
nav a:hover {
  border-bottom: #615eec 5px solid;
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  padding: 100px 0px 0px 90px;
}
.intro .intro__heading {
  font-size: 48px;
}
.intro .intro__subheading {
  font-size: 144px;
  line-height: 180px;
}
.intro .intro__end {
  font-size: 48px;
  line-height: 72px;
}

header .intro__scroll {
  color: #fc88b9;
  font-size: 36px;
  font-weight: bold;
  animation-duration: 6s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  padding-top: 100px;
  text-align: center;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.about {
  background-color: #fc88b9;
  max-width: 100%;
  height: 100%;
}
.about .about__title {
  color: #615eec;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 5px;
}
.about .about__text {
  color: #fafafa;
  text-align: center;
  padding: 25px 75px 0px 75px;
  font-size: 28px;
}
.about .skill__container {
  display: flex;
  margin: 80px;
  justify-content: center;
}
.about .skill__container .skills_icon {
  padding: 28px;
  color: #fafafa;
  font-size: 28px;
}
.about .about__education__title {
  color: #615eec;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 5px;
}
.about .about__education {
  color: #fafafa;
  text-align: center;
  padding-top: 5px;
  font-size: 28px;
  padding-bottom: 20px;
}

.projects {
  color: #615eec;
  max-width: 100%;
}
.projects .projects__header {
  color: #fc88b9;
  background-color: #615eec;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projects .projects__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #615eec;
}
.projects .projects__container .projects__javascript_smiles_game {
  display: flex;
  height: 50vh;
}
.projects .projects__container .projects__javascript_smiles_game .image__javascript_smiles_game {
  height: 100%;
  width: 50%;
  opacity: 70%;
}
.projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game {
  height: 100%;
  width: 50%;
  padding: 20px;
  color: #fafafa;
}
.projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__header__javascript_smiles_game {
  font-size: 36px;
  padding-bottom: 50px;
}
.projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__text__javascript_smiles_game {
  font-size: 20px;
  height: 40%;
}
.projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__button__javascript_smiles_game {
  padding: 20px 20px;
  margin-top: 100px;
  width: 300px;
  background-color: #fc88b9;
  color: #fafafa;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.projects .projects__container .projects__memory_game {
  display: flex;
  background-color: #fc88b9;
  height: 50vh;
}
.projects .projects__container .projects__memory_game .project__textcontainer__memory_game {
  height: 100%;
  width: 50%;
  padding: 20px;
  color: #fafafa;
}
.projects .projects__container .projects__memory_game .project__textcontainer__memory_game a {
  text-decoration: none;
}
.projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__header__memory_game {
  font-size: 36px;
  padding-bottom: 50px;
}
.projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__text__memory_game {
  font-size: 20px;
  height: 40%;
}
.projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__button__memory_game {
  padding: 20px 20px;
  margin-top: 100px;
  width: 300px;
  background-color: #615eec;
  color: #fafafa;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.projects .projects__container .projects__memory_game .image__memory_game {
  height: 100%;
  width: 50%;
  opacity: 70%;
}
.projects .projects__morse {
  display: flex;
  background-color: #615eec;
  height: 50vh;
}
.projects .projects__morse .project__textcontainer__morse {
  height: 100%;
  width: 50%;
  padding: 20px;
  color: #fafafa;
}
.projects .projects__morse .project__textcontainer__morse .project__header__morse {
  font-size: 36px;
  padding-bottom: 50px;
}
.projects .projects__morse .project__textcontainer__morse .project__text__morse {
  font-size: 20px;
  height: 40%;
}
.projects .projects__morse .project__textcontainer__morse .project__button__morse {
  padding: 20px 20px;
  margin-top: 100px;
  width: 300px;
  background-color: #fc88b9;
  color: #fafafa;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.projects .projects__morse .image__morse {
  height: 100%;
  width: 50%;
  opacity: 70%;
}
.projects .projects__calculator {
  display: flex;
  background-color: #fc88b9;
  height: 50vh;
}
.projects .projects__calculator .project__textcontainer__calculator {
  height: 100%;
  width: 50%;
  padding: 20px;
  color: #fafafa;
}
.projects .projects__calculator .project__textcontainer__calculator .project__header__calculator {
  font-size: 36px;
  padding-bottom: 50px;
}
.projects .projects__calculator .project__textcontainer__calculator .project__text__calculator {
  font-size: 20px;
  height: 40%;
}
.projects .projects__calculator .project__textcontainer__calculator .project__button__calculator {
  padding: 20px 20px;
  margin-top: 100px;
  width: 300px;
  background-color: #615eec;
  color: #fafafa;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.projects .projects__calculator .image__calculator {
  height: 100%;
  width: 50%;
  opacity: 70%;
}

.project__image:hover {
  -ms-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  transform: scale(0.93);
}

.socials {
  background-color: #615eec;
  height: 30vh;
  max-width: 100%;
  color: #fafafa;
  /* Visited link    */
  /* Mouse over link */
  /* Selected link   */
}
.socials .socials__header {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}
.socials .socials__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.socials a {
  color: #fafafa;
  /* Unvisited link  */
  padding: 50px;
}
.socials a:visited {
  color: #fafafa;
}
.socials a:hover {
  color: #fc88b9;
}
.socials a:active {
  color: #fafafa;
}

.footer {
  max-width: 100%;
  background-color: #fc88b9;
  color: #fafafa;
  height: 10vh;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}
.footer h1 {
  font-size: 24px;
}

.header {
  background-color: #615eec;
  color: #fafafa;
  max-width: 100%;
  height: 90vh;
}

/* smartphones */
@media screen and (min-width: 300px) and (max-width: 900px) {
  * {
    max-width: 100vw;
  }

  .header {
    max-width: 100vw;
  }

  nav {
    padding: 0px;
  }
  nav .nav__logo {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav li {
    font-size: 10px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .intro .intro__heading {
    font-size: 30px;
    line-height: 54px;
  }
  .intro .intro__subheading {
    font-size: 45px;
    line-height: 93px;
  }
  .intro .intro__end {
    font-size: 30px;
    line-height: 50px;
  }

  header .intro__scroll {
    font-size: 11px;
    padding: 0px;
  }

  .about {
    height: 100%;
    width: 100vw;
  }
  .about .about__title {
    font-size: 24px;
  }
  .about .about__text {
    font-size: 16px;
  }
  .about i {
    font-size: 20px;
  }
  .about .about__education__title {
    font-size: 24px;
  }
  .about .skills_icon {
    font-size: 16px;
  }
  .about .about__education {
    font-size: 16px;
  }

  .projects .project__modalone .projectmodalone__container {
    height: 80%;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__image {
    padding: 5px 5px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer {
    padding: 5px 5px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__header {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__subheader {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__text {
    font-size: 16px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__skillscontainer .skills_header {
    font-size: 24px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__skillscontainer .skills__tag {
    width: 90%;
    font-size: 16px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__buttons {
    padding: 10px 10px;
  }
  .projects .project__modalone .projectmodalone__container .projectmodalone__buttons button {
    padding: 10px 10px;
    width: 150px;
    font-size: 16px;
  }
  .projects .project__modaltwo .projectmodaltwo__container {
    height: 80%;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__image {
    padding: 5px 5px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer {
    padding: 5px 5px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__header {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__subheader {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__text {
    font-size: 16px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__skillscontainer .skills_header {
    font-size: 24px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__skillscontainer .skills__tag {
    width: 90%;
    font-size: 16px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__buttons {
    padding: 10px 10px;
  }
  .projects .project__modaltwo .projectmodaltwo__container .projectmodaltwo__buttons button {
    padding: 10px 10px;
    width: 150px;
    font-size: 16px;
  }
  .projects .project__modalthree .projectmodalthree__container {
    height: 80%;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__image {
    padding: 5px 5px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer {
    padding: 5px 5px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__header {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__subheader {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__text {
    font-size: 16px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__skillscontainer .skills_header {
    font-size: 24px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__skillscontainer .skills__tag {
    width: 90%;
    font-size: 16px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__buttons {
    padding: 10px 10px;
  }
  .projects .project__modalthree .projectmodalthree__container .projectmodalthree__buttons button {
    padding: 10px 10px;
    width: 150px;
    font-size: 16px;
  }
  .projects .project__modalfour .projectmodalfour__container {
    height: 80%;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__image {
    padding: 5px 5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    opacity: 70%;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer {
    padding: 5px 5px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__header {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__subheader {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__text {
    font-size: 16px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__skillscontainer .skills_header {
    font-size: 24px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__skillscontainer .skills__tag {
    width: 90%;
    font-size: 16px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__buttons {
    padding: 10px 10px;
  }
  .projects .project__modalfour .projectmodalfour__container .projectmodalfour__buttons button {
    padding: 10px 10px;
    width: 150px;
    font-size: 16px;
  }
  .projects .projects__container .projects__javascript_smiles_game {
    display: flex;
    height: 50vh;
  }
  .projects .projects__container .projects__javascript_smiles_game .image__javascript_smiles_game {
    object-fit: cover;
  }
  .projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__header__javascript_smiles_game {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__text__javascript_smiles_game {
    display: none;
  }
  .projects .projects__container .projects__javascript_smiles_game .project__textcontainer__javascript_smiles_game .project__button__javascript_smiles_game {
    padding: 0px;
    margin-top: 50px;
    width: 100px;
    font-size: 16px;
  }
  .projects .projects__container .projects__memory_game .project__textcontainer__memory_game {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__header__memory_game {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__text__memory_game {
    display: none;
  }
  .projects .projects__container .projects__memory_game .project__textcontainer__memory_game .project__button__memory_game {
    padding: 0px;
    margin-top: 50px;
    width: 100px;
    font-size: 16px;
  }
  .projects .projects__container .projects__memory_game .image__memory_game {
    object-fit: cover;
  }
  .projects .projects__morse .project__textcontainer__morse {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .projects__morse .project__textcontainer__morse .project__header__morse {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .projects .projects__morse .project__textcontainer__morse .project__text__morse {
    display: none;
  }
  .projects .projects__morse .project__textcontainer__morse .project__button__morse {
    padding: 0px;
    margin-top: 50px;
    width: 100px;
    font-size: 16px;
  }
  .projects .projects__morse .image__morse {
    object-fit: cover;
  }
  .projects .projects__calculator .project__textcontainer__calculator {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .projects__calculator .project__textcontainer__calculator .project__header__calculator {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .projects .projects__calculator .project__textcontainer__calculator .project__text__calculator {
    display: none;
  }
  .projects .projects__calculator .project__textcontainer__calculator .project__button__calculator {
    padding: 0px;
    margin-top: 50px;
    width: 100px;
    font-size: 16px;
  }
  .projects .projects__calculator .image__calculator {
    object-fit: cover;
  }

  .socials {
    height: 20vh;
  }
  .socials .socials__header {
    font-size: 24px;
  }
  .socials .socials__container {
    padding: 0px;
  }
  .socials .socials__container i {
    font-size: 30px;
  }

  .footer h1 {
    font-size: 12px;
  }
}
.project__modalone {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 2;
}
.project__modalone .projectmodalone__container {
  color: #fafafa;
  background-color: #fc88b9;
  height: 90%;
}
.project__modalone .projectmodalone__container .projectmodalone__image {
  display: block;
  padding: 20px 20px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent {
  width: 70%;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__header {
  font-size: 40px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__subheader {
  font-size: 30px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__maincontent .projectmodalone__text {
  color: #fafafa;
  font-size: 28px;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__skillscontainer {
  width: 30%;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__skillscontainer .skills_header {
  font-size: 25px;
}
.project__modalone .projectmodalone__container .projectmodalone__textcontainer .projectmodalone__skillscontainer .skills__tag {
  padding: 5px 5px;
  background-color: #fafafa;
  color: #615eec;
  border-radius: 10px;
  width: 30%;
  margin: 5px;
  font-size: 18px;
}
.project__modalone .projectmodalone__container .projectmodalone__buttons {
  padding: 20px 20px;
}
.project__modalone .projectmodalone__container .projectmodalone__buttons button {
  padding: 20px 20px;
  width: 150px;
  background-color: #615eec;
  color: #fafafa;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.project__modaltwo {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
.project__modaltwo .projectmodaltwo__container {
  color: #fafafa;
  background-color: #615eec;
  height: 90%;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__image {
  display: block;
  padding: 20px 20px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent {
  width: 70%;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__header {
  font-size: 40px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__subheader {
  font-size: 30px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__maincontent .projectmodaltwo__text {
  color: #fafafa;
  font-size: 28px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__skillscontainer {
  width: 30%;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__skillscontainer .skills_header {
  font-size: 25px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__textcontainer .projectmodaltwo__skillscontainer .skills__tag {
  padding: 5px 5px;
  background-color: #fafafa;
  color: #fc88b9;
  border-radius: 10px;
  width: 30%;
  margin: 5px;
  font-size: 18px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__buttons {
  padding: 20px 20px;
}
.project__modaltwo .projectmodaltwo__container .projectmodaltwo__buttons button {
  padding: 20px 20px;
  width: 150px;
  background-color: #fc88b9;
  color: #fafafa;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.project__modalthree {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
.project__modalthree .projectmodalthree__container {
  color: #fafafa;
  background-color: #fc88b9;
  height: 90%;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__image {
  display: block;
  padding: 20px 20px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent {
  width: 70%;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__header {
  font-size: 40px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__subheader {
  font-size: 30px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__maincontent .projectmodalthree__text {
  color: #fafafa;
  font-size: 28px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__skillscontainer {
  width: 30%;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__skillscontainer .skills_header {
  font-size: 25px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__textcontainer .projectmodalthree__skillscontainer .skills__tag {
  padding: 5px 5px;
  background-color: #fafafa;
  color: #615eec;
  border-radius: 10px;
  width: 30%;
  margin: 5px;
  font-size: 18px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__buttons {
  padding: 20px 20px;
}
.project__modalthree .projectmodalthree__container .projectmodalthree__buttons button {
  padding: 20px 20px;
  width: 150px;
  background-color: #615eec;
  color: #fafafa;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.project__modalfour {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
.project__modalfour .projectmodalfour__container {
  color: #fafafa;
  background-color: #615eec;
  height: 90%;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__image {
  display: block;
  padding: 20px 20px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent {
  width: 70%;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__header {
  font-size: 40px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__subheader {
  font-size: 30px;
  color: #fafafa;
  padding-bottom: 10px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__maincontent .projectmodalfour__text {
  color: #fafafa;
  font-size: 28px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__skillscontainer {
  width: 30%;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__skillscontainer .skills_header {
  font-size: 25px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__textcontainer .projectmodalfour__skillscontainer .skills__tag {
  padding: 5px 5px;
  background-color: #fafafa;
  color: #fc88b9;
  border-radius: 10px;
  width: 30%;
  margin: 5px;
  font-size: 18px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__buttons {
  padding: 20px 20px;
}
.project__modalfour .projectmodalfour__container .projectmodalfour__buttons button {
  padding: 20px 20px;
  width: 150px;
  background-color: #fc88b9;
  color: #fafafa;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}