nav {
  background-color: $color-secondary;
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 32px 60px;
  height: 10vh;

  .nav__logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
  }

  li {
    display: inline-block;
    list-style: none;
    font-weight: bolder;
    font-size: 36px;
    line-height: 54px;
    padding: 0 20px;
  }

  a {
    color: $color-primary;
    text-decoration: none;
  }

  a:hover {
    border-bottom: $color-primary 5px solid;
    cursor: pointer;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  padding: 100px 0px 0px 90px;

  .intro__heading {
    font-size: 48px;
  }

  .intro__subheading {
    font-size: 144px;
    line-height: 180px;
  }

  .intro__end {
    font-size: 48px;
    line-height: 72px;
  }
}

header {
  .intro__scroll {
    color: $color-secondary;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 600px;
  }
}

.about {
  background-color: $color-secondary;
  max-width: 100%;
  height: 60vh;

  .about__title {
    color: $color-primary;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 5px;
  }

  .about__text {
    color: $color-white;
    text-align: center;
    padding: 25px 75px 0px 75px;
    font-size: 28px;
  }

  .skill__container {
    display: flex;
    margin: 80px;
    justify-content: center;

    .skills_icon {
      padding: 28px;
      color: $color-white;
      font-size: 28px;
    }
  }

  .about__education__title {
    color: $color-primary;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 5px;
  }

  .about__education {
    color: $color-white;
    text-align: center;
    padding-top: 5px;
    font-size: 28px;
    padding-bottom: 20px;
  }
}

// .skills {
//   background-color: $color-primary;
//   color: $color-secondary;
//   height: 10vh;
//   text-align: center;
//   font-size: 36px;
//   padding: 50px;
//   max-width: 100%;
//   padding-bottom: 50px;
// }
// .grid {
//   background-color: $color-primary;
//   max-width: 100%;
//   height: 50vh;
//   display: grid;
//   grid-template-areas:
//     "first_icon second_icon third_icon fourth_icon fifth_icon"
//     "first_text second_text third_text fourth_text fifth_text";
//   text-align: center;
//   align-items: center;
//   color: $color-white;

//   .first_icon {
//     grid-area: first_icon;
//   }

//   .second_icon {
//     grid-area: second_icon;
//   }

//   .fourth_icon {
//     grid-area: fourth_icon;
//   }

//   .fifth_icon {
//     grid-area: fifth_icon;
//   }

//   .first_text {
//     grid-area: first_text;
//   }

//   .second_text {
//     grid-area: second_text;
//   }

//   .third_text {
//     grid-area: third_text;
//   }

//   .fourth_text {
//     grid-area: fourth_text;
//   }

//   .fifth_text {
//     grid-area: fifth_text;
//   }

//   li {
//     text-align: left;
//     padding-left: 150px;
//     padding-bottom: 25px;
//     list-style-type: none;
//     font-size: 18px;
//     color: $color-white;
//     line-height: 5px;
//   }
// }

// same issue here with BEM/element naming?

.projects {
  color: $color-primary;
  max-width: 100%;

  .projects__header {
    color: $color-secondary;
    background-color: $color-primary;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projects__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-primary;

    .projects__javascript_smiles_game {
      display: flex;
      height: 50vh;

      .image__javascript_smiles_game {
        height: 100%;
        width: 50%;
        opacity: 70%;
      }

      .project__textcontainer__javascript_smiles_game {
        height: 100%;
        width: 50%;
        padding: 20px;
        color: $color-white;

        .project__header__javascript_smiles_game {
          font-size: 36px;
          padding-bottom: 50px;
        }

        .project__text__javascript_smiles_game {
          font-size: 28px;
          height: 40%;
        }

        .project__button__javascript_smiles_game {
          padding: 20px 20px;
          margin-top: 100px;
          width: 300px;
          background-color: $color-secondary;
          color: $color-white;
          font-size: 20px;
          border-radius: 10px;
          cursor: pointer;
          border: none;
        }
      }
    }

    .projects__memory_game {
      display: flex;
      background-color: $color-secondary;
      height: 50vh;

      .project__textcontainer__memory_game {
        height: 100%;
        width: 50%;
        padding: 20px;
        color: $color-white;

        a {
          text-decoration: none;
        }

        .project__header__memory_game {
          font-size: 36px;
          padding-bottom: 50px;
        }

        .project__text__memory_game {
          font-size: 28px;
          height: 40%;
        }

        .project__button__memory_game {
          padding: 20px 20px;
          margin-top: 100px;
          width: 300px;
          background-color: $color-primary;
          color: $color-white;
          font-size: 20px;
          border-radius: 10px;
          cursor: pointer;
          border: none;
        }
      }

      .image__memory_game {
        height: 100%;
        width: 50%;
        opacity: 70%;
      }
    }
  }

  .projects__morse {
    display: flex;
    background-color: $color-primary;
    height: 50vh;

    .project__textcontainer__morse {
      height: 100%;
      width: 50%;
      padding: 20px;
      color: $color-white;

      .project__header__morse {
        font-size: 36px;
        padding-bottom: 50px;
      }

      .project__text__morse {
        font-size: 28px;
        height: 40%;
      }

      .project__button__morse {
        padding: 20px 20px;
        margin-top: 100px;
        width: 300px;
        background-color: $color-secondary;
        color: $color-white;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
      }
    }

    .image__morse {
      height: 100%;
      width: 50%;
      opacity: 70%;
    }
  }

  .projects__calculator {
    display: flex;
    background-color: $color-secondary;
    height: 50vh;

    .project__textcontainer__calculator {
      height: 100%;
      width: 50%;
      padding: 20px;
      color: $color-white;

      .project__header__calculator {
        font-size: 36px;
        padding-bottom: 50px;
      }

      .project__text__calculator {
        font-size: 28px;
        height: 40%;
      }

      .project__button__calculator {
        padding: 20px 20px;
        margin-top: 100px;
        width: 300px;
        background-color: $color-primary;
        color: $color-white;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
      }
    }

    .image__calculator {
      height: 100%;
      width: 50%;
      opacity: 70%;
    }
  }
}

.project__image:hover {
  -ms-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  transform: scale(0.93);
}

// .find_out_more_section {
//   background-color: $color-primary;
//   height: 60vh;
//   max-width: 100%;

//   .form {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     color: $color-primary;
//     padding-top: 20px;
//   }

//   input {
//     width: 310px;
//     height: 66px;
//     border: 5px solid $color-secondary;
//     border-radius: 10px;
//     margin: 10px;
//   }

//   textarea {
//     border: 5px solid $color-secondary;
//     border-radius: 10px;
//     width: 310px;
//     height: 150px;
//     color: $color-primary;
//   }

//   ::placeholder {
//     color: $color-primary;
//     opacity: 0.8;
//   }

//   .form__heading {
//     color: $color-secondary;
//     text-align: center;
//     padding-top: 50px;
//     font-weight: bold;
//     font-size: 36px;
//     padding-bottom: 50px;
//   }

//   .form__button {
//     border: 5px solid $color-secondary;
//     color: $color-secondary;
//     background-color: $color-primary;
//     margin: 20px;
//     border-radius: 10px;
//     font-size: 16px;
//     font-weight: bold;
//     width: 200px;
//     height: 50px;
//   }
// }

.socials {
  background-color: $color-primary;
  height: 30vh;
  max-width: 100%;
  color: $color-white;

  .socials__header {
    font-size: 36px;
    text-align: center;
    padding: 20px;
  }

  .socials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }

  a {
    color: $color-white; /* Unvisited link  */
    padding: 50px;
  }

  a:visited {
    color: $color-white;
  } /* Visited link    */

  a:hover {
    color: $color-secondary;
  } /* Mouse over link */

  a:active {
    color: $color-white;
  } /* Selected link   */
}

.footer {
  max-width: 100%;
  background-color: $color-secondary;
  color: $color-white;
  height: 10vh;
  justify-content: center;
  text-align: center;
  padding-top: 25px;

  h1 {
    font-size: 24px;
  }
}
